#tswcssbuttons ul {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
}

#tswcssbuttons li {
  display: block;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: #cdd9f4;
  background-color: #052e8e;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: #0842cb;
  border-right-color: #0842cb;
  border-bottom-color: #0842cb;
  border-left-color: #0842cb;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: #b4c6ef;
  background-color: #042165;
}

#greeting {
  margin-right: auto;
  margin-left: auto;
}

#whoami {
  margin-right: 20%;
  margin-left: auto;
  padding-right: 20%;
  width: 768px;
  margin-top: 20px;
}

