/*
	tswtabs.css		1.1.3
	Please use the CSS Menu Button Wizard at
		https://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#tswcsstabs ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
	display: inline ;
}
#tswcsstabs ul li {
	margin: 0 ;
	padding: 0 ;
	display: inline ;
	text-align: center ;
	list-style: none ;
	font-family: Arial, Helvetica, sans-serif ;
}
#tswcsstabs li a {
	color: #ffffff ;
	background-color: #000000 ;
	border: 1px outset #000000 ;
	padding: 8px ;
	text-decoration: none ;
	display: inline ;
}
#tswcsstabs li a:hover {
	color: #ffffff ;
	background-color: #0093ff ;
}
